* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(173, 216, 229);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-element {
    background-color: rgb(218, 165, 48);
    width: 1000px;
    height: 40px;
    border: dotted ;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.blue-element {
    background-color: rgb(0, 1, 136);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-element {
    background-color: rgb(238, 129, 234);
    width: 800px;
    height: 330px;
    border: dotted;
}

.white-element {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skyblue-element {
    background-color: rgb(26, 144, 252);
    width: 700px;
    height: 330px;
    border: dotted;
}

.fleshpink-element {
    background-color: rgb(254, 192, 202);
    width: 300px;
    height: 330px;
    border: dotted;
}

.gray {
    background-color: rgb(211, 211, 211);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.gray2 {
    background-color: rgb(211, 211, 211);
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: rgb(35, 139, 44);
    height: 800px;
    width: 1000px;
    border: dotted;
}

.black-element {
    background-color: rgb(35, 39, 42);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: rgb(239, 128, 128);
    height: 440px;
    width: 275px;
    border: dotted;
}

.cyan {
    background-color: rgb(33, 177, 170);
    height: 440px;
    width: 180px;
    border: dotted white;
}

.black-element2 {
    background-color: rgb(35, 39, 42);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foot {
    background-color: rgb(127, 255, 213);
    height: 75px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    background-color: rgb(253, 181, 191);
    height: 35px;
    width: 60px;
    border: dotted;
}

.bottone {
    font-size: 25px;
    background-color: rgb(253, 181, 191);
    height: 35px;
    width: 60;
    border: dotted;
}